<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="css/angularMaterial_List.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

  <!--
    Your HTML content here
  -->   
  <div ng-app="BlankApp" ng-cloak>
    <div ng-controller="AppCtrl" ng-cloak layout-gt-sm="row" layout="column">

  <div flex-gt-sm="100" flex>

    <md-toolbar layout="row" class="md-hue-12">
      <div class="md-toolbar-tools">
        <span>SEARCH RESULTS</span>
      </div>
    </md-toolbar>

    <md-content>
      <md-list flex class="md-padding">
        <md-subheader class="md-no-sticky">you searched for : "search.input"</md-subheader>
        
        <md-list-item ng-mouseenter="morebtn=true" ng-mouseleave="morebtn=false" class="item md-padding" ng-repeat="item in todos" ng-click="null">
          
          <div flex="30" class="md-padding">
            <img ng-src="images/poster.jpg" class="md-icon" alt="{{item.who}}" width="200" height="200" />
            <!-- <md-icon md-svg-src="images/poster.jpg"
                 aria-label="Insert Drive Icon">
        </md-icon> -->
          </div>
          <!-- <div class="md-list-item-text" layout="column"> -->
            <div flex="45">
              <h3>{{ item.who }}</h3>
            </div>
            <div class="md-secondary">
              <p>YEAR</p>
            </div>
            <md-button ng-show="morebtn" class="md-secondary md-mini md-fab md-primary more" ng-click="movDetails=true">
              <i class="material-icons">more_horiz</i>
              <md-tooltip md-direction="left">
                More
              </md-tooltip>
            </md-button>

              
              <movie-details ng-show="movdetails"></movie-details>
            
      </md-list-item>
        <md-divider ></md-divider>
        </md-list>
        </md-content>

        <!-- <md-card>
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="avatar.png">
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">Title</span>
      <span class="md-subhead">Sub header</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src="card-image.png" class="md-card-image" alt="image caption">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Card headline</span>
      <span class="md-subhead">Card subheader</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="icon">
        <md-icon md-svg-icon="icon"></md-icon>
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
    <p>
     Card content
    </p>
  </md-card-content>
</md-card> -->
        </div>
        </div>
  </div>
    
   
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your custom javascript  -->
  <script src="js/angularMaterial_List.js"></script>
  
</body>
</html>



